@media (max-width: 475px) {
    .container {
        width: 100%;
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .navbar {
        padding: 36px 0;
    }
    p.huge {
        font-size: 18px;
    }
    p.large {
        font-size: 19px;
    }
    p.medium {
        font-size: 14px;
    }
    h1 {
        font-size: 31px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 18px;
    }
    .nav-tabs .nav-link {
        font-size: 13px;
    }
}